@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/LotoReg.ttf")
        format("ttf"),
  }
  



/* BASE */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  color: #838386;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 1.55556;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a[href*="tel"],
a[href*="mailto"] {
  white-space: nowrap;
}

ul {
  list-style: none;
}

/*------- BUTTON--------- */

.main-btn {
  display: inline-block;
  max-width: 100%;
  padding: 11px 35px;
  min-width: 190px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 35px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.btn-color {
  color: #fff;
  background-color: #3a4ed5;
  border-color: #3a4ed5;
}

.btn-color:hover {
  color: #fff;
  background-color: #020855;
  border-color: #020855;
}

.transparent-btn {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.transparent-btn:hover {
  border-color: transparent;
  background-color: #3a4ed5;
}

/* HEADER */

/* Contact-block */


.page-header_contact {
  overflow-x: hidden;
  background-color: #29293a;
  color: #fff;
}

.page-header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 15px 30px;
}

@media (min-width: 1600px) {
  .page-header_wrapper {
    padding-left: 70px;
    padding-right: 70px;
  }
}

.page-header_contact i {
  color: #838386;
  font-size: 20px;
}

.page-header_contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header_contact-list li {
  padding: 0 10px;
}

.contact-list {
  min-width: 60%;
}

.page-header_contact-link {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  padding-left: 10px;
}

.page-header_contact-link:hover {
  color: #95ffe0;
}

.social-link:hover i {
  color: white;
}

/* Navbar */

.navbar_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_center_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar_center_menu-item {  
  position: relative;
  white-space: nowrap;
  margin: 0 22px;
  padding: 25px 0px;
}

.navbar_center_menu-link {
  position: relative;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #333333;
}

.navbar_center_menu-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  display: block;
  opacity: 0;
  -webkit-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  transition: width 0.3s linear;
  background: #3a4ed5;
}

.navbar_center_icon {
  position: absolute;
  border: solid grey;
  border-width: 0 2px 2px 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  display: inline-block;
  top: 50%;
  right: -20px;
  padding: 4px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 5;
  cursor: pointer;
}

/* Slider block */

.section-slider_img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-slider_text-block {
  position: absolute;
  z-index: 3;
  top: 140px;
  color: white;
}

.section-slider_text-block--title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: 2px;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.section-slider_text-block--text {
  margin: 30px 0px 50px 0px;
  font-weight: 300;
  line-height: 1.41667;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 19px;
}

/* SWIPER SLIDER */

.swiper-pagination {
  text-align: center;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 50px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 50%);
          box-shadow: 0 0 0 0 rgb(0 0 0 / 50%);
  -webkit-transition: 0.33s;
  -o-transition: 0.33s;
  transition: 0.33s;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullet-active {
  background: #95ffe0;
}

/* SECTION Services */

.section-services {
  overflow-x: hidden;
  padding: 80px 0px;
}

.section-title {
  text-align: center;
  color: rgb(41, 41, 58);
  font-family: Oswald, Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2.04px;
  line-height: 46.75px;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.section-title::after {
  content: "";
  display: block;
  margin: 20px auto 0px;
  height: 3px;
  width: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3a4ed5), color-stop(120%, #030a6e));
  background: -o-linear-gradient(left, #3a4ed5 50%, #030a6e 120%);
  background: linear-gradient(to right, #3a4ed5 50%, #030a6e 120%);
}

.section-subtitle {
  display: block;
  line-height: 1.2;
  padding: 15px 10px 40px 10px;
  color: #3a4ed5;
  font-weight: 400;
  font-size: 24px;
}

.section-services_card {
  overflow: hidden;
  padding: 0;
}

.section-services_card--img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

.card-img {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-services_card--overline {
  background: rgba(58, 78, 213, 0);
  position: absolute;
  content: "";
  z-index: 1;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s all ease;
  -o-transition: 0.6s all ease;
  transition: 0.6s all ease;
}

.overline-icon {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overline-icon img {
  display: none;
}

.section-services_card--img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.section-services_card--img:hover .section-services_card--overline {
  background: rgba(58, 78, 213, 0.6);
  z-index: 1;
}

.section-services_card--img:hover .overline-icon img {
  display: block;
}

.section-services_card--img:hover .overline-icon button {
  display: block;
}

.overline-icon button {
  margin-top: 20px;
  display: none;
}

/* Lightbox */

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
  z-index: 1200;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.lightbox__image {
  min-width: 80vw;
  min-height: 80vh;
  padding: 30px;
  max-height: 100vh;
  max-width: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.lightbox.is-open .lightbox__content {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.container_img {
  position: relative;
}
.lightbox_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 0.5px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  outline: none;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

/* FOOTER*/

.footer {
  overflow-x: hidden;
  background-color: #29293a;
  color: #b3bec5;
  padding-top: 100px;
  font-size: 14px;
  font-weight: 400;
}

.footer_text {
  padding: 30px 30px 30px 0px;
}

footer i,
.fa-angle-double-right {
  color: #287ff9;
  font-size: 18px;
  font-weight: 900;
  padding-right: 10px;
}

.footer_contact-link {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
}

.footer_subtitle {
  position: relative;
  color: #287ff9;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 22px;
  margin-bottom: 20px;
}

.footer_subtitle::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 43px;
  height: 2px;
  display: inline-block;
  background-color: #b3bec5;
}

.footer-links li {
  padding-top: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-links li a:hover {
  color: white;
  padding-left: 10px;
}

.footer_btn {
  margin-top: 20px;
  width: 100%;
}

.footer_social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px;
  padding: 0 20px;
}

.footer_social-list i {
  color: #b3bec5;
}

.footer_item {
  margin-bottom: 50px;
}

.copyright {
  margin: 0px 25px 0px;
  padding: 25px 0px;
  border-top: 2px solid #36383af6;
}

/* ANIMATION */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.swiper-slide.swiper-slide-active .section-slider_text-block--title {
  -webkit-animation: fadeIn 1s both 1s;
          animation: fadeIn 1s both 1s;
}

.swiper-slide.swiper-slide-active .section-slider_text-block--text {
  -webkit-animation: fadeIn 1s both 2s;
          animation: fadeIn 1s both 2s;
}

.swiper-slide.swiper-slide-active .section-slider_text-block--btn {
  -webkit-animation: fadeIn 1s both 3s;
          animation: fadeIn 1s both 3s;
}

/* ------------screen min-1600  ----------- */

@media (min-width: 1600px) {
  .container {
    max-width: 90%;
  }
}

/*----------- screen min - 992px -----------*/

@media screen and (min-width: 992px) {
  /* MENU */
  .navbar_center_menu-link:hover + .navbar_center_icon {
    border: solid #3a4ed5;
    border-width: 0 2px 2px 0;
  }
  .navbar_center_menu-link:hover::after {
    opacity: 1;
    width: 100%;
  }
  /* SUB MENU */
  .navbar_center-submenu {
    z-index: 1000;
    position: absolute;
    top: calc(100% + 15px);
    margin-top: 0;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
            box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding: 10px 40px 30px;
    -webkit-transform: translate3d(-50%, 30px, 0);
            transform: translate3d(-50%, 30px, 0);
    background: #fff;
    -webkit-transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  .navbar_center_menu-item:hover .navbar_center-submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(-50%, 0px, 0);
            transform: translate3d(-50%, 0px, 0);
  }
  .navbar_center-submenu--item {
    width: 210px;
  }
  .navbar_center-submenu--item li {
    border-bottom: 1px solid #f2f3f9;
  }
  .page-header_contact i {
    font-size: 18px;
  }
  .navbar_center-submenu--item a {
    display: inline-block;
    padding: 13px 10px 13px 0;
    color: #000000;
    background: transparent;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navbar_center-submenu--item a:hover {
    color: #3a4ed5;
  }
  .fa-arrow-right {
    color: #3a4ed5;
    padding-right: 5px;
    margin-left: -20px;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .navbar_center-submenu--item li:hover .fa-arrow-right {
    margin-left: 0;
    opacity: 1;
  }
  .burger {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  .mobile-btn {
    display: none;
  }
}

/* ----------screen - max-width 1400 --------*/
@media screen and (max-width: 1400px) {
  .page-header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .navbar_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 auto;
    width: 100%;
  }

  .navbar_center_menu-item  {
    margin: 0 20px;
  }
}

/* ----------screen - max-width 992 --------*/

@media screen and (max-width: 992px) {
  /* -----Burger icon------ */
  .burger {
    display: inline-block;
    padding-top: 10px;
    position: relative;
    text-align: center;
    padding: 20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    color: #29293a;
    background-color: transparent;
    border: none;
  }
  .burger-icon {
    z-index: 110;
    position: relative;
    width: 24px;
    height: 4px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background-color: #29293a;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .burger-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    width: 24px;
    height: 4px;
    background-color: #29293a;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 2px;
    -webkit-transform-origin: 1.71429px center;
        -ms-transform-origin: 1.71429px center;
            transform-origin: 1.71429px center;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .burger-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: "";
    width: 24px;
    height: 4px;
    background-color: #29293a;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 2px;
    -webkit-transform-origin: 1.71429px center;
        -ms-transform-origin: 1.71429px center;
            transform-origin: 1.71429px center;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .burger.is-active .burger-icon {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .burger.is-active .burger-icon::before {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
            transform: rotate3d(0, 0, 1, -40deg);
    width: 15px;
    top: 0;
  }
  .burger.is-active .burger-icon::after {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
            transform: rotate3d(0, 0, 1, 40deg);
    top: 0;
    width: 15px;
  }
  /* -----/Burger icon------ */
  /* Contact bottom icon */
  .contact-btn {
    position: fixed;
    right: 10px;
    top: 4px;
    display: inline-block;
    z-index: 1000;
    width: 48px;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
  }
  .contact-btn-icon,
  .contact-btn-icon::before,
  .contact-btn-icon::after {
    position: absolute;
    width: 6px;
    height: 6px;
    line-height: 6px;
    text-align: center;
    background: #333333;
    left: 50%;
    margin-left: -3px;
    border-radius: 50%;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .contact-btn-icon {
    top: 50%;
    margin-top: -3px;
  }
  .contact-btn-icon::before {
    content: "";
    bottom: 100%;
    margin-bottom: 3px;
  }
  .contact-btn-icon::after {
    content: "";
    top: 100%;
    margin-top: 3px;
  }
  .contact-btn.is-active .contact-btn-icon {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .contact-btn.is-active .contact-btn-icon::before {
    -webkit-transform: translateY(18px);
        -ms-transform: translateY(18px);
            transform: translateY(18px);
  }
  .contact-btn.is-active .contact-btn-icon::after {
    -webkit-transform: translateY(-18px);
        -ms-transform: translateY(-18px);
            transform: translateY(-18px);
  }
  /* --- Header */
  .page-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 4px;
    height: 60px;
    color: #29293a;
    z-index: 999;
    background-color: white;
  }
  .page-header_wrapper {
    display: block;
    padding: 0px;
  }
  /* Contact-Block  */
  .page-header_contact {
    display: block;
    position: fixed;
    right: 20px;
    top: 64px;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    padding: 15px 10px;
    width: 280px;
    border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
            box-shadow: 0 6px 8px rgb(110 123 157 / 17%);
    text-align: left;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    z-index: 997;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  }
  .page-header_contact.is-open {
    opacity: 1;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    pointer-events: auto;
    z-index: 999;
  }
  .page-header_contact-list {
    display: block;
  }
  .page-header_contact-list li {
    padding: 3px 9px;
    margin-top: 10px;
  }
  .block-phone {
    display: inline-block;
  }
  .page-header_contact-link {
    color: black;
  }
  .page-header_contact-link:hover {
    color: #007bff;
  }
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 15px;
  }
  .social-link i {
    color: #29293a;
    font-size: 24px;
  }
  .social-link:hover i {
    color: #007bff;
  }
  .mobile-btn {
    display: block;
    margin: 15px auto;
  }
  .navbar_rigth {
    display: none;
  }
  .logo {
    position: fixed;
    top: 10px;
    left: 70px;
  }
  .logo img {
    height: 36px;
    width: auto;
  }
  .navbar_center {
    position: fixed;
    display: block;
    left: 0;
    bottom: 0;
    top: 60px;
    color: #333333;
    background: #fff;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
    width: 270px;
    height: auto;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 34px;
    -webkit-box-shadow: 0 0 12px 1px rgb(0 0 0 / 25%);
            box-shadow: 0 0 12px 1px rgb(0 0 0 / 25%);
    z-index: 998;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .navbar_center.is-open {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar_center_menu {
    display: block;
  }
  .navbar_center_menu-item {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #f2f3f9;
  }
  .navbar_center_menu-link {
    display: block;
    padding: 11px 56px 11px 16px;
  }
  .navbar_center_menu-item.is-active,
  .navbar_center_menu-item:hover {
    cursor: pointer;
    background-color: #030a6e;
    border: none;
  }
  .navbar_center_menu-item.is-active .navbar_center_menu-link,
  .navbar_center_menu-item:hover .navbar_center_menu-link {
    color: white;
  }
  .navbar_center_menu-item.is-open .navbar_center_icon {
    -webkit-transform: translateY(-50%) rotate(220deg);
        -ms-transform: translateY(-50%) rotate(220deg);
            transform: translateY(-50%) rotate(220deg);
    border: solid white;
    border-width: 0 2px 2px 0;
  }
  .navbar_center_menu-item.is-open .navbar_center-submenu {
    display: block;
    background-color: white;
  }
  .navbar_center-submenu li {
    border-bottom: 1px solid #f2f3f9;
  }
  .navbar_center-submenu li:last-child {
    border-bottom: none;
  }
  .navbar_center-submenu--item li {
    padding: 11px 56px 11px 16px;
  }
  .navbar_center-submenu--item li:hover {
    cursor: pointer;
    background-color: #030a6e;
  }
  .navbar_center-submenu--item li:hover a {
    color: white;
  }
  .navbar_center-submenu {
    display: none;
  }
  .navbar_center-submenu i {
    display: none;
  }
  .navbar_center_icon {
    right: 20px;
    top: 30px;
  }
}
/* ------------screen max-width 768 ---------*/

@media screen and (max-width: 768px) {
  .section-slider_text-block {
    padding-left: 30px;
    top: 120px;
  }
  .section-slider_img {
    min-height: calc(100vh - 60px);
  }
}

/* ____________PAGE ABOUT__________________________ */

.page-about_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.page-about_navbar {
  background-image: -o-linear-gradient(315deg, #030a6e 59%, #080ab4 100%);
  background-image: linear-gradient(135deg, #030a6e 59%, #080ab4 100%);
}

.page-about_navbar .navbar_center_menu-link {
  color: white;
}

.section-wrapper {
  padding-top: 300px;
  padding-bottom: 125px;
}

.section-about_wrapper {
  width: 90%;
  margin: 0 auto;
}

.section-about_title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #29293a;
  font-size: 48px;
  line-height: 1.375;
  padding-bottom: 40px;
}

.section-about_title::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 3px;
  width: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3a4ed5), color-stop(120%, #030a6e));
  background: -o-linear-gradient(left, #3a4ed5 50%, #030a6e 120%);
  background: linear-gradient(to right, #3a4ed5 50%, #030a6e 120%);
}

.content-box {
  margin-top: 40px;
  margin-right: 30px;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -moz-column-gap: 4em;
  -webkit-column-gap: 4em;
          column-gap: 4em;
}

.section-about_top-text {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
}

.section-about_midle-text {
  margin-top: 20px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.36px;
  line-height: 28px;
  text-align: justify;
  color: #838386;
}

.section-about_list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-about_item-title {
  color: #29293a;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-about_item p {
  margin-top: 12px;
}

.section-servises_item {
  min-height: 630px;
  margin-bottom: 125px;
}

.section-servises {
  background-color: #f2f3f9;
}

.section-servises_item-text-block {
  padding-top: 40px;
}

.section-servises_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-about_slider {
  width: 100%;
  height: 100%;
}

/* -----------PAGE ABOUT  MEDIA--------- */
@media screen and (max-width: 1400px) {
  .section-about_title {
    font-size: 34px;
    line-height: 1.375;
  }

  .section-about_top-text {
    font-size: 19px;
    font-weight: 300px;
    line-height: 28px;
  }

  .section-wrapper {
    padding-bottom: 100px;
  }

  .section-servises_item {
    min-height: 460px;
    margin-bottom: 100px;
  }

  .section-servises_item:last-child {
    margin-bottom: 0;
  }

  .section-about_midle-text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .content-box {
    margin-top: 30px;
    margin-right: 30px;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }

  .section-about_item p {
    font-size: 16px;
    line-height: 24px;
  }

  .section-about_item-title {
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (max-width: 992px) {
  .page-about_header {
    background-image: -o-linear-gradient(315deg, #030a6e 59%, #080ab4 100%);
    background-image: linear-gradient(135deg, #030a6e 59%, #080ab4 100%);
  }

  .burger_addition-page .burger-icon {
    background-color: white;
  }

  .burger_addition-page .burger-icon::before {
    background-color: white;
  }
  .contact-btn_addition-page .contact-btn-icon,
  .contact-btn_addition-page .contact-btn-icon::after,
  .contact-btn_addition-page .contact-btn-icon::before {
    background-color: white;
  }
  
  .burger_addition-page .burger-icon::after {
    background-color: white;
  }
  .page-about_navbar .navbar_center_menu-link {
    color: #333333;
}
    .section-wrapper {
        padding-top: 150px;
    }
}

@media screen and (max-width: 767px) {
  .section-about_title {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 25px;
  }

  .section-about_title::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .content-box {
    margin: 0;
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    text-align: center;
  }

  .section-about_top-text {
    text-align: center;
  }

  .section-about_midle-text,
  .section-about_bottom-text,
  .section-about_list {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
  }

  .section-about_item {
    padding-top: 30px;
  }

  .section-servises_item img {
    display: block;
    height: 300px;
    margin: 60px 0px;
  }

  .section-servises_item {
    height: auto;
    margin-bottom: 0px;
  }
}